{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for host, stats in hosts %}
        <div>
            <h1>{{ host }}</h1>
            <table style="width:100%">
                <thead>
                    <tr>
                        <th style="width:90%">URI</th>
                        <th>Images</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uri, images in stats %}
                        <tr>
                            <td>{{ uri }}</td>
                            <td>{{ images }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>
{% endblock %}
